@media (max-width:992px){
    .mr{
        margin-left: 0px !important;
    }
    .mr2{
        margin-left: 0px !important;
    }
    .navbarMe{
        display: flex;
        flex-direction: column-reverse;
    }
    .sousNavbarME1{
        text-align: center;
    }
    .sousNavbarME2 {
        display: flex !important;
        flex-direction: row !important;
    }
    .dropdown{
        width : 50px !important;
        display: flex;
        flex-direction: column;
    }
    .drop1{
        align-items: flex-start;
    }
    .drop2{
        align-items: center;
        margin-right: 15px;
    }
}